site_name: Yonatan Tarazona Coronel
site_author: Yonatan T.

# Copyright
copyright: Copyright &copy; 2023 Yonatan Tarazona

site_url: https://geoyons.github.io

theme:
    font:
        text: Roboto
    palette:
        - primary: black
        #- scheme: default # color por defecto
          #   primary: blue
          #   accent: indigo
          toggle:
              icon: material/toggle-switch-off-outline
              name: Switch to dark mode
        - scheme: slate
          primary: indigo
          accent: indigo
          toggle:
              icon: material/toggle-switch
              name: Switch to light mode
    name: material
    icon:
        repo: fontawesome/brands/github
    icon:
        repo: fontawesome/brands/github
    #logo: images/logo.png
    favicon: assets/favicon.png
    icon:
        logo: logo
    
    features:
        - navigation.sections
        - navigation.tabs # horizontal tabs
        - navigation.top
        - navigation.tracking
        - search.highlight
        - search.share
        - search.suggest
        - toc.integrate
    custom_dir: "docs/overrides"

#theme: readthedocs

plugins:
    - search
    - mkdocstrings
    - git-revision-date
    - mkdocs-jupyter:
          include_source: True
          ignore_h1_titles: True
          execute: True
          #execute_ignore: "*.ipynb"
          
markdown_extensions:
    - attr_list
    - pymdownx.superfences
    - pymdownx.highlight:
          linenums: true
    - toc:
          permalink: true

# extra:
#     analytics:
#         provider: google
#         property: UA-XXXXXXXXX-X

nav:
    - About me: index.md
    - Projects: projects.md
    - Publications: publications.md
    - Awards: awards.md
    - Blogs: blogs.md
    - Contact: contact.md